{% extends "layout/base.html" %}

{% block 'title' %}Delete User{% endblock 'title' %}

{% block 'content' %}
<div class="p-4 sm:ml-64 mt-16">
  <div class="max-w-xl mx-auto bg-[#FDF6D3] p-6 rounded-2xl shadow-md border border-[#D6C96E]">
    <h2 class="text-2xl font-bold mb-4 text-red-700">Delete Confirmation</h2>
    <p class="text-[#3A2E1A] text-base">
      Are you sure you want to delete <strong>{{ user.full_name }}</strong>?
    </p>

    <form method="POST">
      {% csrf_token %}
      <div class="flex justify-end mt-6 space-x-2">
        <a href="/user/list/"
           class="bg-white text-[#3A2E1A] text-sm font-medium px-4 py-2.5 rounded-lg shadow-sm border border-[#C9BB6F] hover:bg-[#fdf6c8] transition duration-200">
          Back
        </a>
        <button type="submit"
                class="px-5 py-2.5 bg-red-600 text-white text-sm font-medium rounded-lg shadow-sm hover:bg-red-700 transition duration-200">
          Delete
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock 'content' %}
