{% extends "layout/base.html" %}

{% block 'title' %}
Genders List
{% endblock 'title' %}

{% block 'content' %}
{% include 'include/Sidebar.html' %}
{% include "include/ToastMessage.html" %}

<div class="p-2 sm:ml-64 md:mt-14">
    <div class="relative overflow-x-auto rounded-xl shadow-lg border border-[#D6C96E] bg-[#F9F6DC]">
        <table class="w-full">
            <thead class="text-sm text-left text-white bg-[#C2B280]">
                <tr>
                    <th class="px-6 py-3">Gender</th>
                    <th class="px-6 py-3">Action</th>
                </tr>
            </thead>
            <tbody class="text-sm text-[#3A2E1A] bg-white">
                {% for gender in genders %}
                <tr class="hover:bg-[#F0E68C]/50 border-b border-[#E8E2B5] transition duration-150">
                    <td class="px-6 py-3">{{ gender.gender }}</td>
                    <td class="px-6 py-3">
                        <div class="inline-flex shadow-sm">
                            <a href="/gender/edit/{{ gender.gender_id }}"
                                class="bg-[#C2B280] hover:bg-[#b1a469] text-[#3A2E1A] px-3 py-2.5 font-medium text-sm rounded-s-lg border border-[#A89F60]">
                                Edit
                            </a>
                            <a href="/gender/delete/{{ gender.gender_id }}"
                                class="bg-[#E6C76E] hover:bg-[#d7b951] text-[#3A2E1A] px-3 py-2.5 font-medium text-sm rounded-e-lg border border-[#C4B65C]">
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock 'content' %}
